<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>notes</title>
  </head>
  <body>
    <div class="main min-h-screen px-2 w-full bg-zinc-900">
      <div class="form w-full max-w-2xl mx-auto "></div>
        <form class="flex flex-col space-y-4 p-6 rounded-lg " action="/create" method="post">
          <input
        type="text"
        required
        class="block bg-zinc-700 text-white w-full px-2 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500 transition"
        name="title"
        id=""
        placeholder="Enter title"
          />
          <textarea 
        class="block bg-zinc-700 text-white w-full px-2 py-2 rounded-lg h-24 resize-none focus:outline-none focus:ring-2 focus:ring-green-500 transition" 
        name="details" 
        id="" 
        placeholder="Enter your note here"
          ></textarea>
          <input 
        type="submit" 
        value="Create Task" 
        class="bg-green-600 hover:bg-zinc-500 duration-200 text-white font-semibold py-2 px-2 rounded-lg transition cursor-pointer"
          />
        </form>

        <div class="tasks flex flex-wrap px-2 w-full">
        <div class=" mt-8 gap- flex">
          
          <% if(notes.length > 0) { %>
          <% notes.forEach((note) => { %>
            <a href="/<%= note.title.split(' ').join("-") %>">
          <div class="bg-zinc-800 rounded-xl shadow-xl mt-4 flex px-6 py-4 w-fit mx-4 hover:bg-zinc-700 transition-all duration-300 hover:scale-105">
            <div class="flex-1 pr-3">
              <h3 class="text-white text-2xl font-bold mb-2 truncate"><%= note.title %></h3>
              <a class="text-blue-400 hover:text-blue-300 font-medium text-sm transition-colors" href="/<%= note.title.split(' ').join("-") %>">Read more →</a>
            </div>
            <div class="flex items-center ml-3">
              <a href="/<%= note.title.split(' ').join("") %>.txt/completed">
                <div class="bg-green-600 hover:bg-lime-600 text-white px-3 py-1 rounded-md transition-all duration-200 shadow-lg">
                  <span class="text-2xl px-2">✓</span>
                  
                </div>
                
                <div class="text-center">
                  
                    <a href="/edit/<%= note.title.split(' ').join("") %>.txt" class="block bg-blue-600 hover:bg-blue-700 text-white px-3 py-2 ml-2 rounded-md text-md font-medium transition-all duration-200 shadow-lg">Edit</a>
                    
                </div>
                  
              </a>
            </div>
          </div>
          
            
          
          </a>
          <% }) %>
          <% } else { %>
            <div class="text-zinc-500 font-bold text-3xl px-3">no task yet</div>
          <% } %>
          
        </div>
      </div>
      </div>

      
    </div>
  </body>
</html>
